
<!--==================================================================================================-->
<footer class="page-footer font-small special-color-dark pt-4" style="background:#1e3d59;padding-top: 50px; padding-bottom:0px; color: white;">
  <div class=" container-fluid">
    <div class="row">
      <div class="col-md-4" id="bz">
        <p style="font-size: 30px;">MY BAZAR</p>
        <p>Shop your clothing hear,its your own shop Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Iure ducimus, at vel quam officiis, animi delectus impedit saepe 
          lorem Lorem  fugiat nam eum inventore nemo?</p>
      </div>


      <div class="col-md-2" id="pd">
        <p style="font-size: 30px;">PRODUCTS</p>
        <ul>
          <li><a href="#children">Kids collection</a></li>
          <li><a href="#man">Men Collection</a></li>
          <li><a href="#woman">Women Collection</a></li>
          <li><a href="#others">Others</a></li>
        </ul>
        
      </div>
      <div class="col-md-3" style="padding-left: 4rem; padding-right: 0px;">
        <p style="font-size: 30px;">CONTACT US</p>
        <ul>
          <li><i class="fas fa-home up"></i>Thane,Mumbai,India</li>
          <li><i class="fas fa-envelope up"></i>Prodouct@gmail.com</li>
          <li><i class="fas fa-phone up"></i>+91 99999 99999</li>
          <li><i class="fas fa-print up"></i>+ 01 234 567 89</li>
        </ul>
      </div>
      <div class="col-md-3" id="ml">
        <p style="font-size: 30px;">MAIL US</p>
        <ul>
          <li><input type="email" class="text-input contact-input" placeholder="Your Email Adress......"  ></li>
          <li><textarea rows="2" class="text-input contact-input" placeholder="Your Message Here........" ></textarea></li>
          <li><p class="btn btn-success">Send</p></li>
        </ul>
      </div>

    </div>
    <hr style="margin-bottom: 10px; margin-top: 0px;">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-copyright text-center py-3" style="color: white;font-family: 'Raleway', sans-serif; margin-top: 1rem; font-size: 2rem;">© 2020 Copyright:
          <a href="/" style="color: white; font-family: 'Raleway', sans-serif;">swaraj jain</a>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <ul class="list-unstyled list-inline text-center" style="margin-bottom: 5px;">
          <li class="list-inline-item" id="fb" style="border: 1px solid #e0cece; padding: 10px 15px; margin: 0px 5px; border-radius: 20%;">
          <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/profile.php?id=100008734723597">
              <i class="fab fa-facebook-f" style="font-size: 25px; color:white;"> </i>
          </a>
          </li>
          <li class="list-inline-item" id="github" style="border: 1px solid #e0cece; padding: 10px 15px; margin: 0px 5px; border-radius: 20%;">
          <a class="btn-floating btn-tw mx-1" href="https://github.com/swaraj-jain">
              <i class="fab fa-github" id="gh" style="font-size: 25px; color: white;"> </i>
          </a>
          </li>
          <li class="list-inline-item" id="instagram"style="border: 1px solid #e0cece; padding: 10px 15px; margin: 0px 5px; border-radius: 20%;">
          <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com/happyjain35/">
              <i class="fab fa-instagram" style="font-size: 25px; color: white;"> </i>
          </a>
          </li>
          <li class="list-inline-item" id="mail"style="border: 1px solid #e0cece; padding: 10px 15px; margin: 0px 5px; border-radius: 20%;">
            <a class="btn-floating btn-dribbble mx-1" href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=app">
                <i class="fas fa-envelope" style="font-size: 25px; color: white;"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--===========================================================-->

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover();   
        });
    </script>
    <script>
        $(document).ready(function(){
          $(".nav-tabs a").click(function(){
            $(this).tab('show');
          });
        });
        </script>

    <script>
      $(document).ready(function(){
        $('body').scrollspy({target: ".navbar", offset: 50});   
      });
      </script>
      <script>
        AOS.init({
          offset:400,
          dutation:1200
        });
      </script>
    </body>
</html>