<%- include('partials/header') -%> 
<hr style="margin-bottom: 0px;">

<!--
<div class="container-fluid">
    <div class="row">
        <a href="#man"><div class="col-md-3 whole">
            <div class="card ">
                <img class="card-img-top thumbnail"src="https://5.imimg.com/data5/QD/AW/MY-11025415/men-s-narrow-jeans-500x500.jpg" >
                <div class="card-body">
                    <h4 style="text-align: center;">Summer Clothes <span class="badge badge-pill badge-success" style="font-size: 1.5rem;">men</span></h4>
                            
                    <p style="text-align: center;">$120</p>
                </div>
            </div>
        </div></a>
    </div>
</div>
-->

<div class="post-slider">
    <p class="slider-title animate__animated animate__fadeInDown animate__slow" id="bhb" style="font-size: 5rem;">
        Trending Posts
    </p>
    <div class="post-wrapper">
        <div class="row">
            <div class="col-md-4">
                <a href="#man"><div class="post animate__animated animate__fadeInDown animate__slow">
                    <img src="https://5.imimg.com/data5/QD/AW/MY-11025415/men-s-narrow-jeans-500x500.jpg" class="slider-image">
                    <div class="slider-info">
                        <p style="text-align: center;">Summer Clothes <span class="badge badge-pill badge-success" style="font-size: 1.5rem;">men</span></p>
                        
                        <p style="text-align: center; margin-bottom: 0px;">$120</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-4">
                <a href="#woman"><div class="post animate__animated animate__fadeInDown animate__slow">
                    <img src="https://www.maolik.com/wp-content/uploads/2018/09/my-swag-womens-floral-printed-short-sleeve-v-neck-maxi-dress-xx-large-black.jpg" class="slider-image">
                    <div class="slider-info">
                        <p style="text-align: center;">Summer Clothes <span class="badge badge-pill badge-success" style="font-size: 1.5rem;">women</span></p>
                        <p style="text-align: center; margin-bottom: 0px;">$120</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-4">
                <a href="#others"><div class="post animate__animated animate__fadeInDown animate__slow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQP3Nu_3GJATUO9ArbgYim9POx-wADOP4FbG7AzqeAsF6ersIdW&usqp=CAU" class="slider-image">
                    <div class="slider-info">
                        <p style="text-align: center;">Summer Clothes <span class="badge badge-pill badge-success" style="font-size: 1.5rem;">other</span></p>
                        <p style="text-align: center; margin-bottom: 0px;">$120</p>
                    </div>
                </div></a>
            </div>
        </div>
        
    </div>
</div>




<!--============================================================================================-->
    
    <section id="children" style="background: #1e3d59;">
        <div class="container " style="margin-top: 20px;" >
            <p  id="bhw"  data-aos="fade">Kids Zone</p>
            <hr style="padding-top: 0%; margin-top: 0%;" data-aos="fade">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41ZzaXRVJEL._SX466_.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://i.pinimg.com/564x/b6/f3/d1/b6f3d12e8d6a8af60b6f78247f033a67.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://i.pinimg.com/564x/20/06/d4/2006d4936b787148d38006d9540d8e20.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://m.media-amazon.com/images/I/51E-7Y2kEdL._SR500,500_.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://cdn.shopify.com/s/files/1/1083/6796/products/product-image-1096825012_grande.jpg?v=1571439609" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://media.debenhams.com/i/debenhams/236020661446/boys_light_blue_striped_fish_print_sun_suit.jpg?$PSPNew$&w=500&h=500&qlt=60&fmt=webp" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://www.childrensplace.com/wcsstore/GlobalSAS/images/tcp/products/500/3001136_1301.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTCBpSK309UsUN79-Yuyxv3muVizbRaKuSOaI1UMeJVqWdxiYdV&usqp=CAU" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>



    <!--============================================================================================-->


    <section id="man">
        <div class="container " style="margin-top: 20px;" >
            <p id="bhb" data-aos="fade">Men Zone</p>
            <hr style="padding-top: 0%; margin-top: 0%;" data-aos="fade">

            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://cdn.shopify.com/s/files/1/1083/6796/products/product-image-1159346530.jpg?v=1575098514" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://lh3.googleusercontent.com/proxy/DIK0VulVO4Kj1t955SISTRkNvxztmD3iELkJUVQWV5LnZVTRFGkn8y1wh1kvtbhYj9wXFuDwKSVxex4SeJWbfL9m21qADFZySoMHZHDCbe8G6a0qARpySm-cTFqeHQmqrPITFm-2FObqWB52rEPus4Vsc0xWX3L7ao42AYAg2FMz2aGhTjIZ5JHvoRq2foGUHOjMt46QFPu6dXSwH1wyS3-KJFvuEzlgDuCdGkkNLlO5Y-t3H-0bsICikPlN2Dvo077ZWit9gqPy3nzU-vNcozzGnIaa-a8H_KNlNxJdDMk6Y7QPYSsUZJjgQweb9TWkYbHiyn_V5ZoXQFjteJr_JSG9WLHc3rKNVHIFfJ5LK-IXzxMt" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://i.pinimg.com/564x/5b/ce/a9/5bcea9657ac8b0c9947e05506313dbaa.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://5.imimg.com/data5/GT/WN/RI/SELLER-42875771/mens-casual-denim-jeans-500x500.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://5.imimg.com/data5/QD/AW/MY-11025415/men-s-narrow-jeans-500x500.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoU1kn4W22d7kr4WuvznF2yRn3mekYY0StTGhXq-4ZNWBJ1YS3&usqp=CAU" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ2QryM8Lh3dBL5DUhl0EVzoh0I2pTVq2OEjDUMFE3sb_h9wsYr&usqp=CAU" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVDQN1-JqBXkLYEazZTaK4m0WraWGV0e_E1U6Q9Y5Lf8cOlRTq&usqp=CAU" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>

    <!--===============================================================================================-->




    <section id="woman" style="background: #1e3d59;">
        <div class="container " style="margin-top: 20px;" >
            <p id="bhw" data-aos="fade">Women Zone</p>
            <hr style="padding-top: 0%; margin-top: 0%;" data-aos="fade">

            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51%2BtP-%2BDD-L.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://content.jdmagicbox.com/quickquotes/images_main/b07wbznbc7-soledi-plus-size-5xl-womens-tops-and-blouses-2018-women-vintage-floral-print-long-sleeve-blouse-clothes-ladies-tops-fashion-clothing-blue-179454706-q80t6.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://www.maolik.com/wp-content/uploads/2018/09/my-swag-womens-floral-printed-short-sleeve-v-neck-maxi-dress-xx-large-black.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://cdn.shopify.com/s/files/1/1048/1530/products/Azterumi-Issey-Miyake-Spring-New-Women-Fashion-Leopard-Patchwork-Pleated-Dress-Large-Size-Half-Sleeve-A_36d51947-ca34-43f4-b5bd-4191bb1247e2_grande.jpg?v=1551619040" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41iF6wQFjOL.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLzUpF2EfDV65WJPYyqE_c6kTouIDd-WLVnb7HAlIomQA4p482&usqp=CAU" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41LidMjXJwL.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://www.lordsindia.com/image/cache/1/2020%20UPLOAD%20DATA/WOMEN%20WEAR/WWN-63-500x500.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>

    <!--===============================================================================================-->




    <section id="others">
        <div class="container " style="margin-top: 20px;" >
            <p id="bhb" data-aos="fade">Others</p>
            <hr style="padding-top: 0%; margin-top: 0%;" data-aos="fade">

            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://m.media-amazon.com/images/I/716LdIQJQGL._SR500,500_.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://www.coastalchrome.ca/images/category_3/MY%20Women%20Fedora%20Wool%20Cotton%20Polyster%20Hat%20for%20Winter%20Autumn%20Elegant%20Lady%20Dad%20Homburg%20Jazz%20Caps%20Red%20White%20and%20Blue%20Men%20emstripes%20Belt%20(Color%20:%2010%20%20Size%20:%2056-58cm22-23in)%20-%20B07HGSQBSZ.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://vestiairecollective.imgix.net/produit/5029929-1_1.jpg?&w=500&auto=format&fm=pjpg&ch=DPR&dpr=1&fit=crop" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://5.imimg.com/data5/CQ/QK/WX/SELLER-84070423/7-500x500.jpeg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-right">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQP3Nu_3GJATUO9ArbgYim9POx-wADOP4FbG7AzqeAsF6ersIdW&usqp=CAU" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left">
                        <img src="https://5.imimg.com/data5/XS/OQ/MY-53276134/black-pollution-safety-mask-500x500.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="cardm " data-aos="fade-right" >
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41IIamQ7FBL.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 0%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-6">
                    <div class="cardm " data-aos="fade-left" >
                        <img src="https://5.imimg.com/data5/LI/EK/MY-41251086/striped-school-student-tie-500x500.jpg" alt="" style="height: 300px; width: 100%;">
                        <div>
                            <p style="margin-bottom: 16%; font-size: 2.6rem; font-family: 'Roboto Slab', serif;">Summer Clothes</p>
                            <!--<p class="badge badge-pill badge-success" style="margin-top: 0%; margin-bottom: 10%;">Bestseller</p>-->
                            <p style="font-size: 2.4rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">Price:</p>
                            <p style="font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$120</p>
                            <p style="text-decoration: line-through; font-size: 1.8rem; margin-bottom: 1%; font-family: 'Josefin Sans', sans-serif;">$140</p>
                            <p style="font-size: 1.8rem;margin-bottom: 10%; font-family: 'Josefin Sans', sans-serif;">You save $20</p>
                            <a href="#" class="btn btn-danger " style="font-family: 'Gloria Hallelujah', cursive; font-size: 1.6rem;"><i class="fas fa-shopping-cart" style="margin-right: 0.6rem;"></i>Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>

    <!--===============================================================================================-->
<%- include('partials/footer') -%> 